@import '../../global-vars.scss';


:is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding: 0;
}

h6 { font-weight: 500; font-size: 10.5px; padding: 2px;}
h6:hover { color: white; text-decoration: underline;}

p { margin: 0; padding: 0; }

.bookshelf-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $apple-dark-gray2;
    border-radius: 10px;
    background: pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    height: 400px;
    width: 800px;
    background-size: contain;
}

