$search-background: rgb(30,30,30);
$header: rgb(30,30,30);
$content-background: rgb(30,30,30);

$message-gray: rgb(58, 58, 60);
$message-blue: rgb(10, 132, 255);
$button-red: rgb(255,82,79);
$button-orange: rgb(255, 181, 58);
$button-green:rgb(21,196,68);

