
@import '../../global-vars.scss';

:is(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;
  padding: 0;
}

.messenger-container {
  position: absolute;
  display: grid;
  border-radius: 10px;
  border: 1px solid $apple-dark-gray2;
  grid-template-columns: 320px auto;
  grid-template-areas: "sidebar main";
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba($apple-dark-gray5, 0.8);
  backdrop-filter: blur(20px) saturate(160%);
  -webkit-backdrop-filter: blur(20px) saturate(160%);
}

.sidebar-header {
  grid-area: header;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header-top {
  height: 50%;
  width: 100%;
  background: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-header-bottom {
  height: 50%;
  width: 100%;
  background: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .search-bar {
      height: 25px;
      width: 295px;
      border-radius: 8px;
      background-color: rgba($apple-dark-gray4, 0.6);
      backdrop-filter: blur(60px) saturate(160%);
      -webkit-backdrop-filter: blur(60px) saturate(160%);
      margin-bottom: 1rem;
      color: white;
      border: 1px solid $apple-dark-gray3;
  }
}

.sidebar-content {
  grid-area: content;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.pinned-container {
  height: 115px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pinned {
  height: 115px;
  width: 95px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $apple-dark-gray1;
}

.pinned-photo {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinned-name {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-weight: 650;
}

.image-pinned {
  height: 72px;
  width: 72px;
  border-radius: 50px;
  background: white;
}

.image, .contact-photo {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: white;
  margin-right: 5px;
}

.contact-photo { 
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightskyblue;

  h3 {
    color: white;
  }
}


.conversation {
  height: 65px;
  width: 92%;
  border-radius: 5px;
  color: $apple-dark-gray5;
  display: flex;
  flex-direction: row;
}



.image-container {
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}




.conversation-content {
  height: calc(100% - 20px);
  width: 78%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  justify-content: flex-start;
  align-items: left;
  text-overflow: ellipsis;
  border-bottom: 1px solid $apple-dark-gray3;
  color: $apple-dark-gray1;

  .content-top {
      width: 100%;
      height: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p { margin-right: 10px }
  }

  h5 {
      color: white;
  }

  p {
      margin: 0.5px 0 0;
      font-size: 10px;
      font-weight: 600;
  }
}

.clicked {
  background: $apple-dark-blue;
  border: none;
  border-radius: 5px;
  color: white;
}

.main {
  grid-area: main;
  border-radius: 0 10px 10px 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-header {
  position: absolute;
  z-index: 2;
  height: 55px;
  width: calc(100% - 320px);
  border-bottom: 1px solid black;
  border-top-right-radius: inherit;
  background-color: rgba($apple-dark-gray4, 0.9);
  backdrop-filter: blur(60px) brightness(140%);
  -webkit-backdrop-filter: blur(60px) brightness(140%);
}

.main-content {
  height: 100%;
  width: 100%;
  padding: 55px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: inherit;
  overflow-y: auto;
  background: $apple-dark-gray6;
}

.message {
  height: fit-content;
  max-width: 53%;
  padding: 6px 10px;
  margin-bottom: 3px;
  border-radius: 15px;
  color: white;
  font-size: 15px;
}

.received {
  margin-left: 1em;
  align-self: flex-start;
  background: $apple-dark-gray4;
}

.sent {
  margin-right: 1em;
  align-self: flex-end;
  background: $apple-dark-blue;
}

.delivered {
  color: $apple-dark-gray2;
  align-self: flex-end;
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.main-footer {
  position: absolute;
  z-index: 2;
  bottom: 0%;
  height: 55px;
  width: calc(100% - 320px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-right-radius: inherit;
  align-items: center;
  background-color: rgba($apple-dark-gray6, 0.9);
  backdrop-filter: blur(60px) brightness(140%);
  -webkit-backdrop-filter: blur(60px) brightness(140%);
}

.message-input {
  height: 30%;
  width: 92%;
  background-color: $apple-dark-gray6;
  border-radius: 25px;
  border: 0.1px solid gray;
  padding: 5px 5px 5px 10px;
  color: white;
}


.timestamp {
  margin: 0.5rem 0;
  color: $apple-dark-gray1;
  height: 40px;
  width: fit-content;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h6 {
    font-size: 12px;
    font-weight: 700;
    margin: none;
  }

  p {
    margin: none;
    margin-left: 5px;
    font-weight: 500;
    font-size: 12px;
  }
}




