@import '../../global-vars.scss'; 

:is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding: 0;
}

h6 { font-weight: 500; font-size: 10.5px; padding: 2px;}
h6:hover { color: white; text-decoration: underline;}

p { margin: 0; padding: 0; }

.spotify-container {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(104, 104, 107);
    grid-template-columns: 260px auto 260px; 
    grid-template-rows: calc(100vh - 90px) 90px;
    grid-template-areas: 
        "left-sidebar main right-sidebar"
        "media-controller media-controller media-controller";
    overflow: hidden;
}

.media-controller {
    grid-area: media-controller;
    height: 100%;
    width: 100%;
    background: $spotify-media-controller-gray;
}

.spotify-main {
    grid-area: main;
    background: $spotify-dark-gray;
    height: 100%;
    width: 100%;
    color: white;

    .content-view-playlist {
        padding-top: 60px;
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-rows: 275px auto;
        grid-template-areas: 
            "header"
            "body";
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
        overflow-y: scroll;
        overflow-x: hidden;

        .content-header {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding: 2rem 2rem;
            box-sizing: border-box;

            .content-header-art {
                height: 235px;
            }

            .content-header-info {
                margin-left: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .main-nav {
            position: absolute;
            width: calc(100vw - 520px);
            top: 0%;
            z-index: 2;
            height: 60px;
            background: lightblue;
        }

        .content-body {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            .body-control-header {
                background: green;
                width: 100%;
                height: 100px;
            }

            .content-body-list {
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                padding: 0 30px;
                color: $spotify-light-gray;

                h5 { font-weight: 500; font-size: 14px; color: white;}
                h6 { font-weight: 500; font-size: 14px; color: $spotify-light-gray;}

                .list-header { 
                    border-bottom: 1px solid $spotify-highlight-gray; 
                    border-radius: none; 
                    margin-bottom: 1rem;
                }

                .list-item, .list-header {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 6% 30% 30% 25% 14%;
                    grid-template-areas: "item-number title album-name date-added time";
                    text-align: left;
                    box-sizing: border-box;
                    padding: 0.2rem 0.5rem;
                    border-radius: 5px;
                    align-items: center;

                    .item-number {
                        grid-area: item-number;
                        margin: 1em;
                    }

                    .title {
                        grid-area: title;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        text-align: left;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        .title-info {
                            margin: auto 0 auto 1em;
                        }
                    }

                    .album-name {
                        grid-area: album-name;
                        margin: 0 1rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .date-added {
                        grid-area: date-added;
                        margin: 0 1rem;
                    }

                    .album-art { height: 40px }
                }

                .list-item:hover {
                    background: $spotify-highlight-gray;
                }
            }
        }
    }
    .content-view-playlist::-webkit-scrollbar {
        display: none;
    }
      
}

.left-sidebar {
    grid-area: left-sidebar;
    background: #000000;
    display: grid;
    grid-template-rows: 50px 240px calc(100% - 50px - 240px);
    grid-template-areas: "header" "navbar" "playlists";
    height: 100%;
    align-items: center;
    color: $spotify-light-gray;

    .header {
        grid-area: header;
        height: 100%;
        width: 100%;
    }

    .navbar {
        grid-area:navbar;
        height: 100%;
        width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 20px;
        border-bottom: 2px solid $spotify-media-controller-gray;

        .nav-icon {
            height: 100%;
            width: 60px;
        }

        .nav-card {
            height: 40px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .nav-card:hover {
            color: white;
        }

        .nav-card-clicked {
            background: $spotify-highlight-gray;
            height: 40px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 5px;
            color: white;
        }
    }

    .playlists {
        grid-area:playlists;
        height: 100%;
        width: calc(100% - 25px);
        overflow-y: auto;
        margin-left: 25px;

        .playlist {
            font-size: 13px;
            font-weight: 600;
            margin: 1em 0;
        }

        .playlist:hover {
            color: white;
        }
    }
}

.right-sidebar {
    grid-area:right-sidebar;
    background: #000000;
    display: grid;
    grid-template-rows: 60px calc(100% - 60px);
    grid-template-areas: "header" "list";
    padding-left: 1.3rem;
    height: 100%;
    width: calc(100% - 1.3rem);

    .header {
        grid-area: header;
        height: 100%;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .friends-list {
        color: $spotify-light-gray;
        grid-area:list;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    .friend-card {
        display: grid;
        grid-template-columns: 50px calc(100% - 50px - 1.2rem);
        grid-template-areas: "photo content";
        margin: 1.5rem 0;

        .friend-card-photo {
            grid-area: photo;
            height: 100%;
            width: 100%;

            .image {
                height: 40px;
                width: 40px;
                border-radius: 25px;
            }            
        }
        
        .friend-card-content {
            display: flex;
            flex-direction: column;

            .content-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.media-card-container {
    display: flex;
    flex-direction: row;
    height: 500px;
    background: blue;
    width: 100%;

   
}

.media-card {
    height: 275px;
    width: 200px;
    background: rgb(24, 24, 24);
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-areas: "top" "bottom";
    align-items: center;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    

    .media-card-image {
        height: 170px;
        border-radius: 2px;
    }

    .media-card-bottom {
        width: 100%;   
    }
}

.media-card:hover { background: $spotify-highlight-gray;}