
@import './global-vars.scss';

.container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
}

$lightsaber-blue: #1585fd;
$lightsaber-purple: #7630bb;
$lightsaber-red: rgb(254, 39, 39);
$lightsaber-green: rgb(47,249,36);
$lightsaber-yellow: rgb(250, 245, 102);
$lightsaber-mint: #99fadc;

.lightsaber {
  height: 350px;
  width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg);
  transition: height 4000ms;
  -webkit-transition: height linear;

  .lightsaber-beam {
    justify-self: center;
    align-self: center;
    height: 250px;
    width: 10px;
    border-radius: 10px 10px 0 0;
    background: white;
    border: 1px solid whitesmoke;
  }

  .blue {
    box-shadow: rgba($lightsaber-blue, 0.80) 0px 0px 70px 20px;
  }

  .green {
    box-shadow: rgba($lightsaber-green, 0.80) 0px 0px 70px 20px;
  }

  .red {
    box-shadow: rgba($lightsaber-red, 0.80) 0px 0px 70px 20px;
  }

  .orange {
    box-shadow: rgba($apple-pastel-orange, 0.80) 0px 0px 70px 20px;
  }

  .mint {
    box-shadow: rgba($lightsaber-mint, 0.80) 0px 0px 70px 20px;
  }

  .yellow {
    box-shadow: rgba($lightsaber-yellow, 0.80) 0px 0px 70px 20px;
  }
  .purple {
    box-shadow: rgba($lightsaber-purple, 0.80) 0px 0px 70px 20px;
  }

  .black {
    box-shadow: rgba(black, 0.80) 0px 0px 70px 20px;
  }
  
  .lightsaber-hilt {
    height: 100px;
    width: 15px;
    display: flex;
    background: rgb(220, 220, 220);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .hilt-top {
      height: 60px;
      width: 20px;
    }

    
    .hilt-bottom {
      height: 40px;
      width: 20px;
      background: rgb(220, 220, 220);
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .col {
        width: 5px;
        height: 40px;
        background: black;
      }
    }
  }
}


.dock-container {
  height: 100vh;
  left: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dock {
  position: relative;
  margin: 10px;
  background-color: rgba($apple-dark-gray4, 0.8);
  backdrop-filter: blur(60px) brightness(140%);
  -webkit-backdrop-filter: blur(60px) brightness(140%);
  width: min-content;
  height: min-content;
  border-radius: 10px;
  border: 1px solid $apple-dark-gray2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

  .app-icon {
    img {
      border-radius: 10px;
      margin: 0.5em 0.5em;
    }
  }

  .app-icon:hover {
    transform: scale(1.5);
  }
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background: inherit;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  height: 60%;
  width: 50px;
  z-index: 3;
}

.button {
  height: 12px;
  width: 12px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close { background: $apple-sunset-orange }
.minimize { background: $apple-pastel-orange }
.expand { background: $apple-malachite }

.close:hover, .minimize:hover, .expand:hover {
  display: flex;
}