
/* @import './styles/global-vars.scss'; */

$search-background: rgb(30,30,30);
$header: rgb(30,30,30);
$content-background: rgb(30,30,30);

$message-gray: rgb(58, 58, 60);
$message-blue: rgb(10, 132, 255);
$button-red: rgb(255,82,79);
$button-orange: rgb(255, 181, 58);
$button-green:rgb(21,196,68);


$apple-light-green: rgb(52, 199, 89);
$apple-dark-green: rgb(48, 209, 88);
$apple-light-red: rgb(255, 59, 49);
$apple-dark-red: rgb(255, 69, 58);
$apple-sunset-orange: rgb(255, 96, 92);
$apple-pastel-orange: rgb(255, 189, 68);
$apple-malachite: rgb(0, 202, 78);
$apple-light-yellow: rgb(255, 204, 0);
$apple-dark-yellow: rgb(255, 214, 10);
$apple-border-gray: rgb(108, 105, 108);

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dock {
  position: absolute;
  margin: 0 auto;
  align-self: center;
  bottom: 0px;
  background-color: rgba(51, 52, 53, 0.8);
  backdrop-filter: blur(60px) brightness(140%);
  -webkit-backdrop-filter: blur(60px) brightness(140%);
  width: min-content;
  height: min-content;
  border-radius: 10px;
  border: 1px solid rgba(51, 52, 53, 0.8);
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;

  .app-icon {
    img {
      border-radius: 10px;
      margin: 0.5em 0.5em;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  background: inherit;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  height: 60%;
  width: 50px;
}

.button {
  height: 12px;
  width: 12px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close { background: $apple-sunset-orange }
.minimize { background: $apple-pastel-orange}
.expand { background: $apple-malachite }

.close:hover, .minimize:hover, .expand:hover {
  display: flex;
}