$search-background: rgb(30,30,30);
$header: rgb(30,30,30);
$content-background: rgb(30,30,30);

$spotify-black: #191414;
$spotify-white: #FFFFFF;
$spotify-green: #1DB954;
$spotify-dark-gray: rgb(18, 18, 18);
$spotify-highlight-gray: rgb(40, 40, 40);
$spotify-light-gray: rgb(179, 179, 179);
$spotify-media-controller-gray: rgb(24, 24, 24);


$apple-sunset-orange: rgb(255, 96, 92);
$apple-pastel-orange: rgb(255, 189, 68);
$apple-malachite: rgb(0, 202, 78);
$apple-dark-yellow: rgb(255, 214, 10);
$apple-border-gray: rgb(108, 105, 108);


$apple-light-gray1: rgb(142, 142, 147);
$apple-light-gray2: rgb(174, 174, 178);
$apple-light-gray3: rgb(199, 199, 204);
$apple-light-gray4: rgb(209, 209, 214);
$apple-light-gray5: rgb(229, 229, 234);
$apple-light-gray6: rgb(242, 242, 247);

$apple-light-blue: rgb(0, 122, 255);
$apple-light-red: rgb(255, 59, 49);
$apple-light-green: rgb(52, 199, 89);


$apple-dark-gray1: rgb(142, 142, 147);
$apple-dark-gray2: rgb(99, 99, 102);
$apple-dark-gray3: rgb(72, 72, 74);
$apple-dark-gray4: rgb(58, 58, 60);
$apple-dark-gray5: rgb(44, 44, 46);
$apple-dark-gray6: rgb(28, 28, 30);

$apple-dark-blue: rgb(10, 132, 255);
$apple-dark-red: rgb(255, 69, 58);
$apple-dark-green: rgb(48, 209, 88);

$message-gray: rgb(58, 58, 60);
$message-blue: rgb(10, 132, 255);